In [1]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point, Polygon
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
MariaPath = gpd.read_file("NOAA/al152017-001_5day_lin.shp")
MariaPath.head()

,STORMNAME,STORMTYPE,ADVDATE,ADVISNUM,STORMNUM,FCSTPRD,BASIN,geometry
0,Fifteen,PC,1100 AM AST Sat Sep 16 2017,1,15.0,120.0,AL,"LINESTRING (-50.50000 12.20000, -52.80000 12.8..."

In [3]:
MariaPath.describe()

       STORMNUM  FCSTPRD
count       1.0      1.0
mean       15.0    120.0
std         NaN      NaN
min        15.0    120.0
25%        15.0    120.0
50%        15.0    120.0
75%        15.0    120.0
max        15.0    120.0

In [4]:
MariaPath = gpd.read_file("NOAA/al152017-001_5day_pgn.shp")
MariaPath.head()

,STORMNAME,STORMTYPE,ADVDATE,ADVISNUM,STORMNUM,FCSTPRD,BASIN,geometry
0,Fifteen,PC,1100 AM AST Sat Sep 16 2017,1,15.0,120.0,AL,"POLYGON ((-50.61510 11.88317, -50.59181 11.880..."